<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
    <!-- Load css File -->
    <template id="dvl_css_asset" name="dvl_assets" inherit_id="web.assets_backend">
      <xpath expr="." position="inside">
        <link rel="stylesheet" type="text/css" href="/devel_logistic_management/static/src/css/dvl_style.css"/>

        <script type="text/javascript" src="/devel_logistic_management/static/src/js/tax_line_import_action.js"></script>
        <script type="text/javascript" src="/devel_logistic_management/static/src/js/one2many_selection.js"></script>
        <script type="text/javascript" src="/devel_logistic_management/static/src/js/hs_code_import_action.js"></script>
        <script type="text/javascript" src="/devel_logistic_management/static/src/js/res_partner_show_bank_info.js"></script>
        <script type="text/javascript" src="/devel_logistic_management/static/src/js/account_upload_attachment.js"></script>
        <script type="text/javascript" src="/devel_logistic_management/static/src/js/upload_mixin.js"></script>
      </xpath>
    </template>

    <template id="report_assets_common" inherit_id="web.report_assets_common">
        <xpath expr="." position="inside">
            <link href="https://fonts.googleapis.com/css2?family=Battambang&amp;family=Kantumruy+Pro&amp;family=Kdam+Thmor+Pro&amp;family=Moul&amp;family=Lora-Regular&amp;display=swap" rel="stylesheet"/>
        </xpath>
    </template>
  </data>
</odoo>